:root {
    --header-color-pizarra: #505c6b;
    --header-azul-logo: #4e82c2;
    --header-negro-transparente: rgba(0,0,0,0.8);
}

header#masthead .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

header#masthead .navbar-brand {
    padding: 0 !important;
  }

header#masthead {
    background: var(--header-negro-transparente);
    color: white;
}

header#masthead a {
    color: white;
    
}

header#masthead #main-nav li {
    width: 180px;
    height: 140px;
    text-align: center;
}

header#masthead #main-nav li a {
    width: inherit;
    height: inherit;
}

header#masthead .navbar-logo-llc {
    background: url("../../../../../img/llc_bn.png");
    height: 170px;
    width: 170px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}

header#masthead .navbar-logo-llc:hover, header#masthead .navbar-logo-llc.active {
    background: url("../../../../../img/llc_color.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 170px;
    width: 170px;
}

header#masthead #menu-menu-principal-v2 .dropdown-menu { background: var(--header-negro-transparente); }
header#masthead #main-nav .dropdown-menu li {
    height: 50px;
    padding: 10px 0px;
}

header#masthead #main-nav .dropdown-menu li a { background-image: none; }
/* Menus:
205 - Diplomados
210 - Talleres
213 - Investigacion
220 - Divulgacion
223 - Acervos */
header#masthead #main-nav .menu-item a {
    background-repeat: no-repeat;
    text-transform: uppercase;
    padding: 0;
}

header#masthead #menu-item-205 a {
    background-size: 64px 89px;
    background-image:url('../../../../../img/dipl_bn.png');
    background-position: center 65px;
}

header#masthead #menu-item-205 a:hover, header#masthead #menu-item-205.current_page_item > a {
    background-image:url('../../../../../img/dipl_color.png');
    color: rgb(196,154,109);
}

header#masthead #menu-item-210 a {
    background-size: 134px 68px;
    background-image:url('../../../../../img/materiales_bn.png');
    background-position: center 70px;
}

header#masthead #menu-item-210 a:hover, header#masthead #menu-item-210.current_page_item > a  {
    background-image:url('../../../../../img/materiales_color.png');
    color: rgb(0,167,155);
}

header#masthead #menu-item-213 a {
    background-size: 95px 89px;
    background-image:url('../../../../../img/inv_bn.png');
    background-position: center 60px;
}

header#masthead #menu-item-213 a:hover, header#masthead #menu-item-213.current_page_item > a  {
    background-image:url('../../../../../img/inv_color.png');
    color: rgb(196 154 109);
}

header#masthead #menu-item-220 a {
    background-size: 95px 89px;
    background-image:url('../../../../../img/divulgacion_bn.png');
    background-position: center 60px;

}

header#masthead #menu-item-220 a:hover, header#masthead #menu-item-220.current_page_item > a  {
    background-image:url('../../../../../img/divulgacion_color.png');
	color: yellow;
}

header#masthead #menu-item-223 a {
    background-size: 95px 89px;
    background-image:url('../../../../../img/acervos_bn.png');
    background-position: center 60px;
}

header#masthead #menu-item-223 a:hover, header#masthead #menu-item-223.current_page_item > a  {
    background-image:url('../../../../../img/acervos_color.png');
    color: #ff00ef;
}

header#masthead a.site-title{
    font-weight: 400;
	font-size: 28px;
}

/*header#masthead li.current_page_item {
    pointer-events: none;
}*/

header#masthead li.current_page_item a {
    color: gray;
}

/* Se quito .home */
#content.site-content {
    padding-top: 0px;
}

#video-intro {
    position: relative;
}

#video-intro .video-overlay {
    background: rgba(96,56,19,0.55);
    color: white;
    width: 550px;
    height: 200px;
    padding: 25px;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

#video-intro video {
    width: 100%;
    height: auto;
}

.home .entry-header { display: none; }

.home .objetivos h1, .home .laboratorios h1 {
    color: rgb(0,167,155); font-weight: 900; font-size: 40px;
}

.home .row-objetivos { font-size: 20px; }

.home .objetivos .row-objetivos div[class*="col-objetivo"] {
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-align: center;
}

.home .objetivos .row-objetivos .col-objetivo-a { background: #C49A6D;}
.home .objetivos .row-objetivos .col-objetivo-b { background: #00A79B;}
.home .objetivos .row-objetivos .col-objetivo-c { background: #00f;}
.home .objetivos .row-objetivos .col-objetivo-d { background: #FF00EF;}

@media (max-width: 992px) {
    header#masthead .navbar-logo-llc {
        background: url("../../../../../img/llc_bn.png");
        height: 50px;
        width: 50px;
        background-size: 100%;
        background-repeat: no-repeat;
        float: left;
    }

    header#masthead .navbar-logo-llc:hover, header#masthead .navbar-logo-llc.active {
        background: url("../../../../../img/llc_color.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 50px;
        width: 50px;
    }

    header#masthead #main-nav li {
        width: 100%;
        height: 40px;
        text-align: right;
    }

    #video-intro .video-overlay {
        position: relative;
        width: 100%;
        bottom: initial;
        left: initial;
    }
}

/* Codigo para paginas internas */
h1.entry-title { display: none;}
button[class^="toggle-"] {font-size: 25px; font-weight: bolder; color: white; padding: 20px 0px 20px 30px; width: 100%; border: 0; display: block; text-align: left; }
button[class^="toggle-"]:nth-of-type(1) { background:linear-gradient(90deg, #cc2b5e 0%, #753a88 100%); }
button[class^="toggle-"]:nth-of-type(2) { background:linear-gradient(90deg, #56ab2f 0%, #a8e063 100%); }
button[class^="toggle-"]:nth-of-type(3) { background:linear-gradient(90deg, #614385 0%, #516395 100%); }
button[class^="toggle-"]:nth-of-type(4) { background:linear-gradient(90deg, #ff512f 0%, #dd2476 100%); }
button[class^="toggle-"]:nth-of-type(5) { background:linear-gradient(90deg, #141e30 0%, #243b55 100%); }
button[class^="toggle-"]:nth-of-type(6) { background:linear-gradient(90deg, #19547b 0%, #ffd89b 100%); }

.btn-descargar { background: #FAEC21; color: black; font-weight: 900;
padding: 7px 20px 7px 50px; border-radius: 20px; font-size: 18px; background-image: url("/wp-content/themes/llc/img/dl_inv.png"); background-size: 20px; background-repeat: no-repeat; background-position: 15px;}
.btn-jugar { background: #FF00FF; color: white; font-weight: 900; padding: 7px 50px 7px 50px; border-radius: 20px; font-size: 18px; float: right; margin-left: 5px; }
.btn-jugar a, .btn-jugar:hover { color: white !important; }